body{
    background-color: #141420
}
h1{
    text-align: center;
    text-decoration: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-size-adjust: 90px;
    margin-bottom: -22px;
    margin-left: 20px;
    font-size: 40px;
    font-style: bold;
}
h4{
    color: rgb(238, 238, 238) ;
    margin-left: 20px;
    stroke: black;
    text-align: center;
    font-family:sans-serif;
    font-style: italic;
    text-size-adjust: 10px;
}
.senter{
    text-align: center;
    align-content: center;
}
#boton-1 {
    display: inline-block;
    border: none;
    padding: 15px;
    background-color: #2e518b;
    color: #ffffff;
    border-radius: 4px;
    width: 85px;
    font-size: 18px;
    text-align: center;
    text-decoration: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.4s;
    }
  #boton-1:hover{
    background:#2a3f61;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #boton-2 {
    display: inline-block;
    width: 85px;
    text-align: center;
    padding: 15px;
    transition-duration: 0.4s;
    text-align: center;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #ac2c52;
    color: #ffffff;
    text-decoration: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  #boton-2:hover{
    background:#6d2d40;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #header-logo {
        float: left;
        padding: 15px 0 0 20px;
        text-size-adjust: 90px;
        margin-bottom: -30px;
    }
    #header-logo .name{
    display:inline-block;
    text-decoration: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    line-height: 30px;
    font-weight: 800;
    }
    nav {
        float:right;
    }
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            padding-right: 20px;
        }
        
            nav ul li {
                display: inline-block;
                line-height: 70px;
            }
                
                nav ul li a {
                    display: block;
                    padding: 0 20px;
                    margin-right: 15px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    text-decoration: none;
                    font-weight: 600;
                }
                nav ul li #img-1{
                    width:25px;
                    margin-bottom: -3px;
                    margin-right: 6px;
                }
                nav ul li #img-2{
                    width:22px;
                    margin-bottom: -4px;
                    margin-right: 6px;
                }
                
                    nav ul li a:hover {
                        background: #322186;
                    }
                    #main-header {
                        background: #2d2461;
                        color: white;
                        height: 70px;
                    }	
                        #main-header a {
                            color: white;
                        }
                        .img-size{
                            width: 50px;
                            height: 50px;
                            margin-right: 5px;
                            margin-bottom: -12px;
                        }
                        #logo {
                            align-content: center;
                        }
